{% extends "base.html" %}

{% block main %}
<div class="ui raised very padded text container segment">
    <div class="ui raised very padded segment">
        <div class="fields">
            <form method="post">
                <div class="field">

                    <label>Доступные Валютные пары</label>
                    <select name="symbol" class="ui fluid dropdown livesearch">
                        {% for p in par %}
                        <option value="{{p.symbol}}">{{p.symbol}} кол-во: {{p.count_bot}}</option>
                        {% endfor %}

                    </select>
                    <p><input type="submit" class="mini ui button" name="all" value="Поиск"></p>


                </div>
            </form>
        </div>

    </div>


    <div class="ui four column doubling stackable grid container">
        {% for b in balance %}
        <div class="column">
            <div class="content">
                <div class="meta">{{b.asset}}: {{b.free}}</div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="ui cards">


        <div class="card">
            <div class="content">

                <div class="header">
                    Добавить бота
                </div>
                <div class="ui raised very padded segment">
                    <a href="/create"><img class="disabled medium ui image"
                                           src="{{url_for('static', filename='img/plus.png', v=1)}}"></a>
                </div>

            </div>

        </div>


        {% for b in bo %}
        {% if b.bot.not_archive %}


        <div class="card">
            <div class="content">

                <div class="header">
                    {{b.bot.name}}

                </div>
                <div class="meta">
                    <a href="/message/{{b.bot._id}}">{{b.bot._id}}</a>

                </div>
                <div class="meta">
                    <p>Валютная пара: <br>{{b.bot.valute_par}} <strong>{{b.price}}</strong></p>
                    <p>Уровень покупки: {{b.bot.bye_lvl}}</p>
                    <p>Уровень продажи: {{b.bot.sell_lvl}}</p>
                    <p>Тригер цена: {{b.bot.triger_lvl}}</p>
                    До уровня Покупки: {{b.razn}}% {{b.side}}<br>
                    До уровня Продажи: {{b.razn_sell}}% {{b.side_sell}}
                    Сумма инвестиций: {{b.bot.sum_invest}}<br>
                </div>
                <div class="description">
                    Объем закупки: {{b.bot.count_hev}}<br>
                    Потрачено: {{b.bot.spent}}<br>
                    Доход за цикл: {{b.bot.cikle_profit}}%<br>
                    Количество циклов: {{b.bot.cikle_count}}<br>
                    Общий доход: {{b.bot.total_profit}}%<br>
                    Всего заработано: {{b.bot.earned}}<br>
                    <div class="meta">
                        <p>Частота проверки: {{b.bot.check_time}} {{b.bot.valuecheck}}</p>
                        <p>Следущая проверка:{{b.bot.next_check}}</p>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <a href="/botsetings/{{b.bot._id}}" class="ui basic green button">Изменить</a>
                    <a href="/delbot/{{b.bot._id}}" class="ui basic red button">Архивировать</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}


    </div>
</div>


{% endblock %}